// text-color
$text-primary-color: #000000;
$text-secondary-color: #ffffff;
$text-info-color: #90d8fa;

//background-color
$background-primary-color: #000000;
$background-secondary-color: #ffffff;
$background-sad-color: #383838;
$background-info-color: #158dc5;
$background-info-second-color: #9ee0ff;
$background-disable-color: #f5f5f5;

//border-color
$border-primary-color: #ffffff;
$border-info-color: #90d8fa;

//shadow
$shadow-basic:  0 2px 9px 0 rgba(0,0,0,0.3);
$shadow-basic-inset: inset 0 -2px 12px 0 rgba(0,0,0,0.3);

//display pointer
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
