.btn {
  //width: 100%;
  display: block;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &--primary {
    padding: 5px 10px;
    font-family: Oswald-Bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid $text-secondary-color;
    color: $text-secondary-color;
    transition: 0.3s background;

    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }
  }

  &--secondary {
    padding: 15px 0;
    font-family: Oswald-Bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $text-secondary-color;
    background: $background-info-color;
    transition: 0.3s all;

    &:hover {
      opacity: 0.8;
    }
  }
}